.projectsGallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #e7e6e2;
	padding-bottom: 3rem;
}

.projectCard {
	position: relative;
	background-color: #fff;
	overflow: hidden;
	border: none;
	box-shadow: none;
	cursor: pointer;
	transition: all 0.3s ease;
	flex: 0 1 100%;
}

@media (min-width: 768px) and (max-width: 1279px) {
	.projectCard {
		flex: 0 1 calc(50% - 20px);
	}
}

@media (min-width: 1280px) {
	.projectCard {
		flex: 0 1 calc(33.333% - 20px);
	}
}

.projectImage {
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fef2f2;
	opacity: 0;
	transition: opacity 0.5s ease;
	overflow: hidden;
	top: -100%;
}

.overlayContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translateY(-200%);
	transition: transform 0.5s ease, opacity 0.5s ease;
}

.projectCard:hover .overlay {
	opacity: 1;
	top: 0;
}

.projectCard:hover .overlayContent {
	transform: translateY(0);
}

.projectName {
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
}

.technologies {
	text-align: center;
	font-size: 14px;
	color: #666;
}

.projectButton {
	position: absolute;
	left: 50%;
	bottom: 50px;
	border: 2px solid #e31b6d;
	font-size: 13pt;
	padding: 7px 0;
	width: 170px;
	cursor: pointer;
	transform: translateX(-50%) translateY(200%);
	transition: transform 0.5s ease;
}

.projectCard:hover .projectButton {
	transform: translateX(-50%) translateY(0);
}

.aspectRatio,
.projectsGallery,
.projectCard {
	align-items: flex-start;
}
.projectDescriptionLink {
    color: #e17285; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.projectDescriptionLink:hover {
    color: #c95164; 
}
